<!DOCTYPE html>
<html>
    <head lang="en">
        <link rel="icon" href="https://letscodestudio.netlify.app/assets/img/letscodeicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet"> 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Let´s Code Studios</title>
        <meta property="og:url" content="https://letscodestudio.it/">
        <meta property="og:title" content="Let´s code Studios™">
        <meta name="description" content="Let´s code Studios™ where the future beginns.">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:heihgt" content="600">
        <meta property="og:image" content="https://cdn.discordapp.com/attachments/902913431563284510/917011910627577867/Let_s_Code_StudiosTM.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <section class="navigation">
            <div class="nav-container">
              <div class="brand">
                <a href="index.html"><img id="logoheader" src="https://letscodestudio.netlify.app/assets/img/letscodeicon.png"></a>
              </div>
              <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="navphone.html"><span></span></a></div>
                <ul class="nav-list">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/letscodeweb/news/">News</a>
                  </li>
                  <li>
                    <a href="/letscodeweb/team/">Unser Team</a>
                  </li>
                  <li>
                    <a href="/letscodeweb/games/">Games</a>
                  </li>
                </ul>
              </nav>
            </div>
          </section>
          <main>
              <div class="user-settings">
                  <div id="nottoseesureaboutthat">
                <div class="username-pic"><img id="userpic" src="https://www.lifepng.com/wp-content/uploads/2020/11/Simple-User-Icon-png-hd.png"> <span id="username"> <b><%- name %></b> </span></div>
            </div>
              </div>
              <br>
                <br>
                  <br>
                  <button onclick="yousure()" id="logoutbutton">Log out</button>
              <div id="verifyboxlogout">
                <div class="content">
                  <h1>Are you sure?</h1>
                </div>
                <div class="buttons">
                <form class="user-settings" action="/logout?_method=DELETE" method="post">
                    <button type="submit">Log out</button>
                </form>
                    <button onclick="closesurelogout">Close</button>
                </div>
              </div>
          </main>

<style>
    body,html {
    font-family: 'PT Sans', sans-serif;
    background-color: #262626;
    color: white;
   } 

.user-settings {
    margin: 0 auto;
    align-items: center;
    align-self: center;
    text-align: center;
}

#userpic {
      position: relative;
      top: 1cm;
      width: 3cm;
  }

  #username {
      position: relative;
      padding-left: 0.3cm;
      font-size: 1cm;
  }

@media only screen and (max-width: 600px) {
  body,html {
    font-family: 'PT Sans', sans-serif;
    background-color: #262626;
    color: white;
    overflow-x: hidden;
  }

}

a {
  color: #2581dc;
}

#logo-poweredby-footer {
  position: relative;
  width: 0.5cm;
  top: 5px;
  right: 0.06cm;
}

#footer-pos-settings {
  position: relative;
  text-align: center;
  padding-top: 2.5cm;
}

#logoheader {
    position: relative;
    width: 1.5cm;
    padding-top: 5px;
}

.navigation {
  height: 70px;
  background: transparent;
  border-bottom: #ffffff0c;
  border-style: solid;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: transparent;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581dc;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}




          </style>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>          
        <script src="js/index.js" async defer></script>
    </body>
</html>